.item{
    overflow: hidden;
}
.unsplash-images {
    -webkit-filter: brightness(100%);
}
.unsplash-images:hover {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
    transform: scale(1.2);
}

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 210px;
    border-radius:10px;
  }
  
  div.gallery:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  /* .box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  } */
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  h4.desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
  }

  input[type='radio'] { transform: scale(1.5); }

  input[type='radio']:after {
    background-color: #d1d3d1;
  }
  input[type='radio']:checked {
    background-color: #dc3545;
    border: #dc3545;
  }

